

.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:rgb(11, 67, 28);
    color: aliceblue;
}

body{
background-color: rgb(184, 221, 191)

}
ul{
    padding:0;
    margin: 0;
    height: 45px;
    list-style: 10;

}

li{
    float: left;
    display: block;
    padding: 55px;

}

.body{
    background-color: rgb(11, 67, 28);
}



.post-header{

    margin-top: 200px;
      background-color:rgb(11, 67, 28);
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 150%;
      color: aliceblue;
      

}

.post-uno, table{

    background-color: rgb(11, 67, 28);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  

}


table {
    margin: 0 auto; 
    border: 4px solid aliceblue;
}

table img {
    margin: 0 auto;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 0;
    margin: 50px auto 0;
    width: 1000px;
}

    .footer, h4, form{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(11, 67, 28);
        color: aliceblue;
    }

.lead{
    text-align: justify;
}

.post-body{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-style: normal;
    
}


.navbar{
    width: 97%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(11, 67, 28);
    align-items: center;
    padding: 0 15px;
    }

a{
    text-decoration: none;
    text-align: center;
    color: rgb(11, 67, 28);
     margin: 35px;
     font-size: 15px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 15px 0; /* Espacio interno para los enlaces */
    display: block;


}
